################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/.vs
/CSharp/Fibonacci.ConsoleApp/obj
/CSharp/Fibonacci.Lib/obj
